*{
    margin: 0px;
    padding: 0px;
}

p{
    font-size: 45px;
    color: white;
    margin-top: 50px;
    margin-bottom: 60px;
}
.input-group{
    margin-top: 20px;
}
.input-group-addon{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid gray;
    font-size: 20px;
    color: gray;
}
.form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;border-bottom: 1px solid red;
    font-size: 22px;
    height: 40px;
    padding: 19px;
    color:chartreuse;
}
input[type="checkbox"]{
    margin-top: 20px;
    height: 15px;
    width: 15px;
}
small{
    font-size: 18px;
    color: white;
    margin-left: 8px;
}
p{
    margin-top: 20px;
    font-size: 19px;
    color: white;
}
.btn-danger{
    margin-top: 10px;
    width: 560px;
    font-size: 18px;

}
a.navbar-brand
{
    font-size:50px;
    
    
}
.navbar-collapse{
    font-size: 25px;
    background-color:antiquewhite;
}

h1{
    font-size: 30px;
    color:rgb(241, 208, 15);
}
body{
    background-image: url(https://c0.wallpaperflare.com/preview/272/953/219/headphone-desk-notebook-computer.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: new time roman;
}


